<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Felix</string>
	<key>CFBundleExecutable</key>
	<string>Felix</string>
	<key>CFBundleIdentifier</key>
	<string>com.felix.open.source</string>
	<key>CFBundleName</key>
	<string>Felix</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>0.1.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Felix needs microphone access to hear your question after you select something.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Felix uses speech recognition to turn your question into an instruction.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Felix captures only the screen region you select.</string>
</dict>
</plist>
